.page-header
  %h2.text-center RSVP

.row
  .col-md-12.text-center
    %p.lead.text-primary
      Please RSVP by August 27
      %sup> th
      , 2014

.row
  .col-md-6.col-md-offset-3
    = form_for (@rsvp || Rsvp.new), method: :post do |f|
      - if f.object.errors.any?
        .alert.alert-danger.alert-dismissable
          %button.close{data: {'dismiss' => 'alert'}} &times;
          %strong
            %i.fa.fa-warning
            = ' Error'
          %p Correct the following errors and try again:
          %ul
            - f.object.errors.full_messages.each do |msg|
              %li= msg

      %fieldset.well
        .form-group
          = f.label :email, 'Email Address'
          = f.text_field :email, class: 'form-control'

        .form-group
          = f.label :guest_list, 'Full Name(s) of Guests (including yours)'
          = f.text_field :guest_list, class: 'form-control', data: { tokens: f.object.guests }
          %i.help-block
            Separate names with commas

        .form-group
          = f.label :restrictions, 'Comments / Questions / Dietary Restrictions'
          = f.text_area :restrictions, rows: 3, class: 'form-control'

        .form-group
          = f.submit 'Send RSVP', class: 'btn btn-primary btn-block'

.row
  .col-md-12
    %ul.pager
      %li.previous
        = link_to "&larr; Gifts".html_safe, gifts_path