!!!
%html
  %head
    %title Jason and Leah

    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    = csrf_meta_tags
  %body{data: { controller: controller.controller_name, action: params[:action] }}
    = render partial: 'layouts/menu'
    = render partial: 'layouts/banner'

    #content.container
      - flash.each do |name, msg|
        .banner-alert.alert.alert-dismissable{class: "alert-#{name == 'error' ? 'danger' : name}"}
          %button.close{type: 'button', data: { dismiss: 'alert'}} ×
          %p.text-center
            = msg
      = yield
    = render partial: 'layouts/footer_banner'
    
        
    .container
      %footer
        .row
          .col-lg-12
            %hr.hidden-xs/
            .text-right.text-muted.hidden-xs
              = a_space 'Made with'
              %i.fa.fa-heart
              = p_space 'by Nick Reed'
            .text-center.text-muted.visible-xs
              = a_space 'Made with'
              %i.fa.fa-heart
              = p_space 'by Nick Reed'
